@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Playfair Display";
}

[hidden] {
	display: none;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}

h1 {
	margin: 0.67em 0;
}

pre {
	white-space: pre-wrap;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

picture {
	display: contents;
}
source {
	display: none;
}
svg {
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

section.home {
	background-color: #eee;
	min-height: 90vh;
}

.logo {
	display: flex;
	justify-content: center;
}

.super {
	font-size: 4rem;
}

.donut {
	font-size: 4rem;
	margin-left: 3rem;
}

.header-text {
	background-color: crimson;
	text-align: center;
	color: #eee;
}

.rack {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.rack > img {
	display: inline;
	width: 300px;
	height: 200px;
	margin: 20px;
	border-radius: 5px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	list-style-type: none;
	margin: 0;
}

.products li {
	justify-content: center;
	align-items: center;
	padding: 10px;
	padding-inline: 38px;
	font-size: 1.2rem;
	margin: 0;
}

footer {
	text-align: center;
	background-color: crimson;
}

footer a {
	text-decoration: none;
	color: #eee;
}
