@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Playfair Display";
}

[hidden] {
	display: none;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}

h1 {
	margin: 0.67em 0;
}

pre {
	white-space: pre-wrap;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

picture {
	display: contents;
}
source {
	display: none;
}
svg {
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

#hero {
	background-image: url("./cover.png");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.about h2 {
	margin: 1rem;
}

.about ul li {
	list-style-type: none;
	font-size: 1rem;
	padding-block: 0.5rem;
	letter-spacing: 0.75px;
}

#contact {
	background-image: url("./grassylawn.jpg");
	background-size: cover;
}

.contact-title {
	font-size: 3rem;
	color: #eee;
	text-align: center;
	width: 100%;
	/* backdrop-filter: blur(1.5rem); */
}

.about {
	display: flex;
	margin-top: 0;
}

.pic {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	overflow: hidden;
	margin-left: 3rem;
}

.about-img {
	max-width: 400px;
	height: 100%;
	object-fit: cover;
}

.form {
	background-color: #fff;
	opacity: 0.92;
	width: 300px;
	height: 100%;
	color: #000;
	border-radius: 10px;
	margin-bottom: 3rem;
}

.form input,
.form button {
	display: flex;
	flex-direction: column;
}

.form input,
.form textarea,
.form button {
	margin: 10px;
	font-size: 1.2rem;
}

textarea {
	width: 280px;
	min-height: 120px;
	max-height: 280px;
	border-radius: 5px;
}

.form button {
	width: 280px;
	border-radius: 5px;
	align-items: center;
}

.form input {
	border: none;
	border-bottom: 1px solid #999;
}

.form_name {
	width: 220px;
}

.form_address {
	width: 250px;
}

.form_email {
	width: 280px;
}
.form {
}
